<div class="common_title">
  <h3>
    AREA <span>エリア</span>
  </h3>
</div>

<% if areas.present? %>
  <div class="area_list">
    <% areas.uniq { |area| area.name }.each do |area| %>
      <%= link_to area_path(area) do %>
        <span><%= area.name %></span>
        <%= image_tag "#{area.name}.webp", alt: "#{area.name}の風景" %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="not_content">エリアがひとつもありません。</p>
<% end %>