<div class="common_title">
  <h3>
    CATEGORY <span>カテゴリー</span>
  </h3>
</div>
<% if categories.present? %>
  <div class="tag_list">
    <% categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
    <% end %>
  </div>
<% else %>
  <p class="not_content">カテゴリーがひとつもありません。</p>
<% end %>