<div class="btn-group" role="group" aria-label="Markdown buttons">
  <button type="button" class="btn btn-outline-secondary" title="太文字" id="font_bold"><i class="fa fa-bold"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="斜体" id="italics"><i class="fa fa-italic"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="打ち消し線" id="strikethrough"><i class="fa fa-strikethrough"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="見出し" id="heading"><i class="fa fa-heading"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="引用のテキスト挿入" id="quote"><i class="fa fa-quote-right"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="コードの挿入" id="code"><i class="fa fa-code"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="リンクの挿入" id="link"><i class="fa fa-link"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="リストの挿入" id="list"><i class="fa fa-list"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="番号リストの挿入" id="number_list"><i class="fa fa-list-ol"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="水平線の挿入" id="dash"><i class="fa fa-minus"></i></button>
  <button type="button" class="btn btn-outline-secondary" title="画像の挿入" id="insert_image"><i class="fa fa-image"></i></button>
  <input type="file" id="markdown-image-upload" style="display:none">
</div>
