default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['DB_HOST'] %>
  pool: 5

development:
  <<: *default
  database: nichijou_development

test:
  <<: *default
  database: nichijou_test

production:
  <<: *default
  database: nichijou_production
  username: nichijou
  password: <%= ENV["NICHIJOU_DATABASE_PASSWORD"] %>
